<%= content_for :head do %>
    <%= stylesheet_link_tag "partials/school" %>
<% end %>

<h1>Escolas cadastradas</h1>
<hr>

<ul class="schools">
    <% if @schools.empty? then %>
        <p>Nenhuma escola cadastrada.</p>
    <% else %>
        <% @schools.each do |school| %>
            <%= render "inline_school", school: school %>
        <% end %>
    <% end %>
</ul>

<%= link_to "Cadastre", new_school_url, class: "button active" %>