<h1>Escolas cadastradas</h1>

<ul>
    <% if @schools.empty? then %>
        <h1>Nenhuma escola cadastrada.</h1>
    <% else %>
        <%= render @schools %>
    <% end %>
</ul>

<%= link_to "Cadastre", new_school_url %>